.modal-form-create-card::-webkit-scrollbar {
	width: 0;
}

.modal-form-create-card-content {
	width: 730px;
	max-height: 90vh;
	z-index: 50;
	transition: 0.3s ease-in-out all;
	scrollbar-width: none;
	overflow: scroll;
	overflow-x: hidden;
}

.modal-form-create-card-content::-webkit-scrollbar {
	width: 0;
}

.card-column-one {
	max-width: 480px;
	min-width: 480px;
}

.card-column-one textarea {
	max-height: 150px;
	min-height: 150px;
}

.active-modal-card {
	opacity: 1;
	pointer-events: auto;
}

.input-description-card textarea::-webkit-scrollbar {
	width: 0;
}

.list-comments::-webkit-scrollbar {
	width: 0;
}

.scale-fade {
	animation: slide-in 0.4s both;
}

@keyframes slide-in {
	0% {
		/* transform: translateY(-50px); */
		transform: scale(1.01);
	}

	50% {
		/* transform: translateY(0); */
		/* transform: scale(1.03); */
	}

	100% {
		transform: scale(1);
	}
}

/* .modal-form-card {
	animation-name: scale-fade;
	animation-duration: 0.2s;
}

@keyframes scale-fade {
	0% {
		transform: scale(1.01);
	}

	100% {
		transform: scale(1.02);
	}

	100% {
		transform: scale(1);
	}
} */
