/* .container {
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	padding: 2.4rem;
	min-width: 76.8rem;
}

@media (min-width: 768px) {
	.container {
		width: 76.8rem;
	}
}

@media (min-width: 1100px) {
	.container {
		width: 878px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 954px;
	}
}

@media (min-width: 1310px) {
	.container {
		width: 1086px;
	}
}

@media (min-width: 1430px) {
	.container {
		width: 1206px;
	}
}

@media (min-width: 1728px) {
	.container {
		width: 1504px;
	}
} */

html {
	font-family: 'Poppins', sans-serif;
}

.contenedor {
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	padding: 1.5rem;
	min-width: 1280px;
}

.contenedor-list {
	position: relative;
	margin: 1rem;
	max-width: 320px;
	min-width: 320px;
	height: 100%;
}

#outer-dropzone {
	height: 140px;
}

#inner-dropzone {
	height: 80px;
}

.dropzone {
	background-color: #bfe4ff;
	border: dashed 4px transparent;
	border-radius: 4px;
	margin: 10px auto 30px;
	padding: 10px;
	max-width: 300px;
	height: auto;
	transition: background-color 0.3s;
}

.drop-active {
	border-color: #aaa;
}

.drop-target {
	background-color: #29e;
	border-color: #fff;
	border-style: solid;
}

.drag-drop {
	display: inline-block;
	min-width: 40px;
	padding: 2em 0.5em;
	margin: 1rem 0 0 1rem;

	color: #fff;
	background-color: #29e;
	border: solid 2px #fff;

	touch-action: none;
	transform: translate(0px, 0px);

	transition: background-color 0.3s;
}

.drag-drop.can-drop {
	color: #000;
	background-color: #4e4;
}
